/* Footer Section style */
footer {
    background-color: hsl(249, 100%, 7%);
    color: rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    padding: 12px;
    bottom: 0%;
    width: 99.2%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }