/* Header styles */
header {
    padding: 10px;
  }

  
  
  nav ul {
    list-style: none;
    margin: 2;
    padding: 0;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    word-spacing: 3px;
  }
  
  nav ul a:hover {
    text-decoration: underline;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px; 
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
