/* Header styles */
header {
    padding: 20px;
    background-color: rgb(0, 0, 82);
  }
  
  nav ul {
    list-style: none;
    margin: 2;
    padding: 5px;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
  }
  
  nav ul a:hover {
    text-decoration: underline;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px; 
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none; 
  }
