/* Header styles */
header {
    background-color: hsl(249, 100%, 16%);
    padding: 10px;
  }

  
  
  nav ul {
    list-style: none;
    margin: 2;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul a:hover {
    text-decoration: underline;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px; 
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
