/* Add your custom CSS styles here */

/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

/*Background Image*/

.WelcomeTitle {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(0, 24, 2); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(0, 68, 255); }
}

.WelcometitleContainer {
  max-width: 370px;
  margin: 0 auto;
}

.container {
  max-width: 100;
  margin: 0 auto;
  padding: 20px;
}

/* Hero section styles */
#hero {
  background-image: url('hero-bg.jpg');
  background-size: cover;
  background-position: center;
  color: #ffffff;
  text-align: center;
  padding: 200px 0;
}

.hero-content {
  max-width: 600px;
  margin: 0 auto;
}

.highlight {
  color: #00aeff;
}


