
/* Project section styles */
#projects {
    background-color: black;
    padding: 40px 0;
    text-align: center;
    color: white;
  }
  
  .project {
    margin-bottom: 40px;
  }
  
  .project img {
    max-width: 100%;
    height: auto;
  }

  .ProjectTitle {
     margin-top: 2px;
  }

  .ProjectTitleContainer {
     padding: 10px;
  }